			html{
					margin: 0px;
					padding: 0px;
				}
			body{
				margin: 0px;
				padding: 0px;
				background-color:#F0F8FF;
				font-family: "Times New Roman", Times, serif;
			}
			#header{
					height: 90px;
					position: fixed;
					left: 0px;
					right: 0px;
					top: 0px;
					z-index: 2;	
					background-color: #2E4053;
			}
			#head-title{
				font-size:2vw;
				text-align: left;
				color:white;
				position: absolute;
				left: 0;
				text-shadow:0.5em 0.5em 0.5em black;
			}
			button span{
				font-size:1vw;
			
			}

			#loginAs{
				height: 35px;
				position: absolute;
				right: 0px;
				margin: 1%;
				
			}
			#menu{
				position:fixed;
				z-index: 1;
				left: 0px;
				top: 14%;
				bottom: 0%;
				height:auto;
				font-stretch: expanded;
				
			}
			#menu ul li a{
				color: black;
				font-weight: bold;
				font-size: 10px;
				font-family: "Times New Roman", Times, serif;
				font-size-adjust: 0.55;
			}
			#content{
				margin-top:7%;
				height: auto;
			}	
				
	
			.box{
				height:100px; margin:2%;
			}